@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  border-style: hidden;
}

table td {
  border: 2px solid black;
  padding: 7px 2px;
}


.form-section {
  padding-bottom: 20px;
}

.tableHeading {
  font-size: 20px;
  margin: 0;

}
