<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Find Your Perfect Boba</title>
    <script src="{{ url_for('static', filename='JS/main.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
  </head>
  <body>
    <h3>Take this survey and find out your perfect boba spot near NYU</h3>
    <form method="POST" action="">
      <div class="form-section">
        <label><b>Do you prefer chewy or regular Boba?</b></label>
        <input type="radio" name="bobatexture" value="soft"> soft
        <input type="radio" name="bobatexture" value="regular"> regular
        <br>
      </div>

      <div class="form-section">
        <label><b>How much would you like to spend?</b></label>
        <input type="radio" name="price" value="1"> $3-$6
        <input type="radio" name="price" value="2"> $4-$7
        <input type="radio" name="price" value="3"> $5-$9
        <br>
      </div>

      <input type="submit">
    </form>
    {% if outputdata %}
      <div class="output">
        <p>Your store is: {{outputdata[1][1]}}</p>
      </div>
    {% endif %}

  </body>
</html>
